Repository STCLab-Inc/wave-autoscale, pull requests merged in 2023-10, with the labels that each got.

#161 change: metric definition change to vector, telegraf format
  core/api-server/src/controller/metric_controller.rs
  core/data-layer/migrations/postgres/20230425085738_metric_table.sql
  core/data-layer/migrations/sqlite/20230425085738_metric_table.sql
  core/data-layer/src/data_layer.rs
  core/data-layer/src/types/metric_definition.rs
  core/data-layer/tests/data_layer.rs
  core/data-layer/tests/yaml/example.yaml
  core/wave-autoscale/src/metric_collector_manager/mod.rs
  core/wave-autoscale/src/metric_updater/mod.rs
  core/wave-autoscale/src/scaling_planner/mod.rs
  core/wave-autoscale/tests/metrics-examples/telegraf-cloudwatch-metrics.yaml
  core/wave-autoscale/tests/metrics-examples/telegraf-google-cloud-monitoring-metrics.yaml
  core/wave-autoscale/tests/metrics-examples/telegraf-mem-metrics.yaml
  core/wave-autoscale/tests/metrics-examples/vector-host-metrics.yaml
  core/wave-autoscale/tests/metrics-examples/vector-multi-transform-metrics.yaml
  core/wave-autoscale/tests/metrics-examples/vector-prometheus-metrics.yaml
  core/wave-autoscale/tests/metrics-examples/vector-transform-metrics.yaml
  core/wave-autoscale/tests/yaml/plan_amazon_emr_ec2_metric_simulation.yaml
  core/wave-autoscale/tests/yaml/plan_azure_vmss_metric_simulation.yaml
  core/wave-autoscale/tests/yaml/plan_cloudwatch_azure_functions_app.yaml
  core/wave-autoscale/tests/yaml/plan_cloudwatch_cloud_functions_v1.yaml
  core/wave-autoscale/tests/yaml/plan_cloudwatch_cloud_functions_v2.yaml
  core/wave-autoscale/tests/yaml/plan_cloudwatch_cloud_run.yaml
  core/wave-autoscale/tests/yaml/plan_cloudwatch_dynamodb.yaml
  core/wave-autoscale/tests/yaml/plan_cloudwatch_ecs_ec2.yaml
  core/wave-autoscale/tests/yaml/plan_cloudwatch_lambda.yaml
  core/wave-autoscale/tests/yaml/plan_ec2_vector_prometheus_center_sample.yaml
  core/wave-autoscale/tests/yaml/plan_gcp_mig.yaml
  core/wave-autoscale/tests/yaml/plan_k8s_istio_sample.yaml
  core/wave-autoscale/tests/yaml/plan_prometheus_ec2.yaml
Labels: target: wave-metrics

#166 feat: k8s patch scaling component
  core/wave-autoscale/src/scaling_component/k8s_patch.rs
  core/wave-autoscale/src/scaling_component/mod.rs
  core/wave-autoscale/tests/yaml/plan_k8s_istio_rds_sample.yaml
Labels: target: scaling-component

#165 feat: scaling component netfunnel
  core/wave-autoscale/src/scaling_component/mod.rs
  core/wave-autoscale/src/scaling_component/netfunnel_segment.rs
Labels: target: scaling-component, type: feature

#169 feat: add NetFUNNEL plan
  core/wave-autoscale/tests/yaml/plan_vector_netfunnel.yaml
Labels: target: plan

#174 feat(controller): add AWS Lambda plan
  core/wave-autoscale/tests/yaml/plan_vector_lambda.yaml
Labels: target: plan

#172 fea: refactor NetFUNNEL plan
  core/wave-autoscale/tests/yaml/plan_vector_netfunnel.yaml
Labels: target: plan

#182 change: telegraf reqired tags added at internal code
  core/wave-autoscale/Cargo.toml
  core/wave-autoscale/src/metric_collector_manager/mod.rs
  core/wave-autoscale/tests/yaml/plan_k8s_istio_rds_sample.yaml
Labels: target: wave-metrics
