Repository STCLab-Inc/wave-autoscale, pull requests merged in 2023-12, with the labels that each got.

#216 feat(data-layer): Add date information in getting metrics, scaling-co…
  core/api-server/src/controller/metric_controller.rs
  core/api-server/src/controller/plan_controller.rs
  core/api-server/src/controller/scaling_component_controller.rs
  core/data-layer/src/data_layer.rs
Labels: type: feature, target: data-layer

#218 feat: read variables from other sources when using files
  core/data-layer/src/data_layer.rs
  core/data-layer/src/lib.rs
  core/data-layer/src/reader/wave_definition_reader.rs
  core/data-layer/src/variable_mapper.rs
  core/data-layer/tests/reader.rs
  core/data-layer/tests/variables-examples/example.yaml
  core/data-layer/tests/variables-examples/variables.env
  core/data-layer/tests/variables-examples/variables.json
  core/web-app/src/types/bindings/metric-definition.ts
  core/web-app/src/types/bindings/scaling-plan-definition.ts
Labels: target: data-layer

#221 bugfix: github action - changed docker copy
  .github/workflows/image.yml
Labels: type: bug
