Repository STCLab-Inc/wave-autoscale, pull requests merged in 2023-11, with the labels that each got.

#185 change: metric data save in data-layer
  core/api-server/src/controller/metrics_receiver_controller.rs
  core/api-server/src/utils/test_utils.rs
  core/data-layer/Cargo.toml
  core/data-layer/src/data_layer.rs
  core/data-layer/src/types/source_metrics.rs
  core/data-layer/tests/data_layer.rs
  core/data-layer/tests/source_metrics_performance.rs
  core/utils/src/wave_config.rs
  core/wave-autoscale/src/main.rs
  core/wave-autoscale/src/metric_updater/mod.rs
  core/wave-autoscale/src/scaling_planner/mod.rs
  core/wave-autoscale/tests/config/wave-config.yaml
  core/wave-autoscale/tests/simulation.rs
Labels: target: wave-metrics

#192 example: add metric examples from Vector and plan examples from Kubernetes
  examples/metrics/vector/postgresql.yaml
  examples/metrics/vector/prometheus_coredns_request.yaml
  examples/metrics/vector/prometheus_istio_request_duration.yaml
  examples/metrics/vector/prometheus_nginx_connections_waiting.yaml
  examples/metrics/vector/prometheus_node_exporter_cpu_usage.yaml
  examples/metrics/vector/prometheus_node_exporter_mem_usage.yaml
  examples/scaling-components/kubernetes/core_dns_replicas.yaml
  examples/scaling-components/kubernetes/deployment_replicas.yaml
  examples/scaling-components/kubernetes/istio_delay.yaml
  examples/scaling-components/kubernetes/istio_retry.yaml
Labels: target: plan, target: wave-metrics

#196 feat(controller): add metric integrations from telegraf
  examples/metrics/telegraf/amazon_cloudwatch/amazon_dynamodb.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_ec2.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_ecs.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_emr.yaml
  examples/metrics/telegraf/amazon_cloudwatch/aws_lambda.yaml
  examples/metrics/telegraf/amazon_cloudwatch/aws_waf.yaml
  examples/metrics/telegraf/prometheus/azure_functions.yaml
  examples/metrics/telegraf/prometheus/azure_vmss.yaml
  examples/metrics/telegraf/stackdriver/gcp_mig.yaml
  examples/metrics/telegraf/stackdriver/google_cloud_functions.yaml
  examples/metrics/telegraf/stackdriver/google_cloud_run.yaml
Labels: target: plan

#197 feat: update for kubernetes merge patch to json patch
  core/wave-autoscale/src/scaling_component/k8s_json_patch.rs
  core/wave-autoscale/src/scaling_component/k8s_patch.rs
  core/wave-autoscale/src/scaling_component/mod.rs
  examples/scaling-components/kubernetes/istio_delay.yaml
  examples/scaling-components/kubernetes/istio_retry.yaml
Labels: target: scaling-component

#200 199 scaling plan integrations from telegraf
  core/wave-autoscale/tests/yaml/plan_cloudwatch_dynamodb.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_dynamodb.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_ec2.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_ecs.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_emr.yaml
  examples/metrics/telegraf/amazon_cloudwatch/amazon_emr_ec2.yaml
  examples/metrics/telegraf/amazon_cloudwatch/aws_ec2_autoscaling.yaml
  examples/metrics/telegraf/amazon_cloudwatch/aws_ecs_service_scaling.yaml
  examples/metrics/telegraf/amazon_cloudwatch/aws_lambda.yaml
  examples/metrics/telegraf/amazon_cloudwatch/aws_waf.yaml
  examples/metrics/telegraf/prometheus/azure_functions.yaml
  examples/metrics/telegraf/prometheus/azure_vmss.yaml
  examples/metrics/telegraf/stackdriver/gcp_mig.yaml
  examples/metrics/telegraf/stackdriver/google_cloud_functions.yaml
  examples/metrics/telegraf/stackdriver/google_cloud_run.yaml
  examples/scaling-components/aws/amazon_dynamodb.yaml
  examples/scaling-components/aws/amazon_emr_ec2.yaml
  examples/scaling-components/aws/aws_ec2_autoscaling.yaml
  examples/scaling-components/aws/aws_ecs_service_scaling.yaml
  examples/scaling-components/aws/aws_lambda.yaml
  examples/scaling-components/aws/aws_waf.yaml
  examples/scaling-components/azure/azure_functions.yaml
  examples/scaling-components/azure/azure_vmss.yaml
  examples/scaling-components/google-cloud/gcp_mig.yaml
  examples/scaling-components/google-cloud/google_cloud_functions.yaml
  examples/scaling-components/google-cloud/google_cloud_run.yaml
Labels: target: plan

#205 feat: update web app console
  core/web-app/next.config.js
  core/web-app/package-lock.json
  core/web-app/package.json
  core/web-app/public/assets/icons/delete.svg
  core/web-app/public/assets/images/wave-autoscale_symbol.svg
  core/web-app/public/assets/images/wave-autoscale_text.svg
  core/web-app/src/app/app/autoscaling-history/history-heatmap.tsx
  core/web-app/src/app/app/autoscaling-history/layout.tsx
  core/web-app/src/app/app/autoscaling-history/page.tsx
  core/web-app/src/app/app/content-header.tsx
  core/web-app/src/app/app/keyvalue-renderer.tsx
  core/web-app/src/app/app/layout.tsx
  core/web-app/src/app/app/menu.tsx
  core/web-app/src/app/app/metadata-form-controls.tsx
  core/web-app/src/app/app/metric-drawer.tsx
  core/web-app/src/app/app/metrics/[id]/layout.tsx
  core/web-app/src/app/app/metrics/layout.tsx
  core/web-app/src/app/app/metrics/page.tsx
  core/web-app/src/app/app/page.tsx
  core/web-app/src/app/app/planning-drawer.tsx
  core/web-app/src/app/app/planning/[id]/code/page.tsx
  core/web-app/src/app/app/planning/[id]/diagram/diagram-base.tsx
  core/web-app/src/app/app/planning/[id]/diagram/page.tsx
  core/web-app/src/app/app/planning/[id]/layout.tsx
  core/web-app/src/app/app/planning/[id]/plan-item-drawer.tsx
  core/web-app/src/app/app/planning/[id]/planning-detail-controls.tsx
  core/web-app/src/app/app/planning/[id]/planning-detail-tabs.tsx
  core/web-app/src/app/app/planning/[id]/scaling-component-plan-select.tsx
  core/web-app/src/app/app/planning/layout.tsx
  core/web-app/src/app/app/planning/page.tsx
  core/web-app/src/app/app/planning/plan-store.ts
  core/web-app/src/app/app/planning/sidebar.tsx
  core/web-app/src/app/app/scaling-component-drawer.tsx
  core/web-app/src/app/app/scaling-components/[id]/layout.tsx
  core/web-app/src/app/app/scaling-components/layout.tsx
  core/web-app/src/app/app/scaling-components/page.tsx
  core/web-app/src/app/app/subcontent-header.tsx
  core/web-app/src/app/favicon.ico
  core/web-app/src/app/layout.tsx
  core/web-app/src/app/page.tsx
  core/web-app/src/services/autoscaling-history/index.ts
  core/web-app/src/types/bindings/metric-definition.ts
  core/web-app/src/types/bindings/scaling-plan-definition.ts
  core/web-app/src/utils/plan-binding.ts
  core/web-app/tailwind.config.js
Labels: target: web-app

#208 metric update detection changed and vector & telegraf agent process kill and running changed
  core/data-layer/src/data_layer.rs
  core/utils/src/lib.rs
  core/wave-autoscale/src/main.rs
  core/wave-autoscale/src/metric_collector_manager/mod.rs
  core/wave-autoscale/src/metric_collector_manager/process.rs
Labels: target: definition_file
